@using ByGrace.Classes.Comum;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ByGrace.Model.ProdutosModel;

@{

    ViewData["Title"] = "Alterar produto";

}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3" id="fotoProduto">
        <img id="fotoExibida" src="@Url.Action("ObterImagem", "Produto", new { id = Model.Produto.CodigoProduto })" alt="Imagem do Produto" />
    </div>
    <input type="file" id="fileFoto" hidden></input>
    <div class="col-md-7">
        <label>Nome do produto</label>
        <input type="text" class="form-control" id="nomeProduto" value="@Model.Produto.NomeProduto" style="margin-bottom: 10px;"></input>

        <label>Descrição do produto</label>
        <textarea class="form-control" id="descricaoProduto" style="height: 150px; margin-bottom: 10px;">@Model.Produto.DescricaoProduto</textarea>

        <div class="row">
            <div class="col-md-4">

                <label>Tamanho</label>
                <select class="form-select" id="selectTamanho">
                    @foreach (var items in Model.Tamanhos)
                    {
                        var sel = int.Parse(items.Value) == Convert.ToInt32(Model.Produto.TamanhoProduto) ? "selected" : "";
                        <option value="@items.Value" class="@sel">@items.Text</option>
                    }
                </select>

            </div>

            <div class="col-md-4">

                <label>Categoria</label>
                <select class="form-select" id="selectCategoria">
                    @foreach (var items in Model.Categoria)
                    {
                        var sel = int.Parse(items.Value) == Convert.ToInt32(Model.Produto.CategoriaProduto) ? "selected" : "";
                        <option value="@items.Value" class="@sel">@items.Text</option>
                    }
                </select>

            </div>
            <div class="col-md-4">

                <label>Quantidade</label>
                <input class="form-control" type="number" id="qtdProduto" value="@Model.Produto.QuantidadeProduto" style="margin-bottom: 10px;"></input>

            </div>
            <div class="col-md-12">

                <label>Valor do produto</label>
                <input class="form-control valorMask" id="valorProduto" value="@Rotinas.FormatarValor(Model.Produto.ValorProduto)" style="margin-bottom: 10px;"></input>

            </div>

            <div class="col-md-12">


                <input id="disponivelProduto" type="checkbox" @(Model.Produto.DisponivelProduto == true ? "checked" : "") value="@Model.Produto.DisponivelProduto.ToString().ToLower()" class="js-switch" />
                &nbsp;Disponibilizar produto imediatamente

            </div>

            <div class="col-md-12" style="text-align: center">

                <button type="button" class="btn" id="salvarProduto" style="margin-bottom: 10px; width: 120px;  background-color: #CA696A !important; color: #fff;">Salvar</button>

            </div>
        </div>

    </div>
    <div class="col-md-1"></div>

</div>

<input hidden id="idProduto" value="@Model.Produto.CodigoProduto"></input>


@section css{

    <link rel="stylesheet" href="/fonts/Plugins/switchery/switchery.css" />
}

@section scripts{

    <script src="/Scripts/Produto/ProdutoIncluir.js?v=12"></script>
    <script src="/fonts/Plugins/masked-inputs.js"></script>
    <script src="/fonts/Plugins/switchery/switchery.js"></script>
}